<div class="container mb-5 pt-3">
  <a href="/dashboard/create/" class="button has-background-success-dark is-pulled-right has-text-white">
    Create Post
  </a>
  <h2 class="title pb-4">Dashboard: Your Posts</h2>
  <hr>
  {{#if posts}}
    {{#each posts}}
      {{> post-info this}}
      <div class="buttons is-centered">
        <a href="/dashboard/edit/{{id}}" class="button is-warning">Edit Post</a>
      </div>
    {{/each}}
  {{else}}
    <h6 class="pb-4 has-text-centered is-italic">You do not have any posts currently.</h6>
  {{/if}}
</div>